<a href="https://colab.research.google.com/github/RajeswaryNadarajan/Pyhton-exercises/blob/main/exercises_22June.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#**Problem:** Write a Python function to find the sum of all the numbers in a given list

numbers = [1, 2, 3, 4, 5]

count=0
def get_sum(a):
  count=0
  for i in numbers:
    count=count+i
  return count

count=get_sum(numbers)
print("Sum of given list: ",count)

Sum of given list:  15

In [13]:
#Write a Python function that takes a list of integers and returns a list containing only the even numbers.

list_1= [10, 15, 20, 25, 30]

def get_even(b):
  even_numbers=[]
  for i in b:
    if i%2==0:
      even_numbers.append(i)
  return even_numbers

result=get_even(list_1)
print("Even numbers from list_1 are:", result)

Even numbers from list_1 are: [10, 20, 30]

In [17]:
#Write a Python function that takes a list and returns a new list with elements in reverse order.

list_1= [10, 15, 20, 25, 30]

def get_reverse(c):
  reverse_order=[]
  for i in c[::-1]:
    reverse_order.append(i)
  return reverse_order

res=get_reverse(list_1)
print(res)

[30, 25, 20, 15, 10]

In [18]:
#Write a Python function to remove duplicates from a list while preserving the order of the elements

list_2=[1, 2, 2, 3, 4, 4, 5]

def get_unique(c):
  return set(list_2)

res=get_unique(list_2)
print(res)

{1, 2, 3, 4, 5}

In [21]:
#**Problem:** Write a Python function that finds the largest number in a list.

numbers_1 = [10, 20, 4, 45, 99]

def get_maximum(num):
  return max(numbers_1)

res_1=get_maximum(numbers_1)
print("The largest number in given list:",res_1)

The largest number in given list: 99

In [24]:
#**Problem:** Write a Python function that takes a list of strings and returns a list containing the lengths of each string.

words = ["apple", "banana", "cherry"]

def get_lengths(count):
  get_count=[]
  for i in words:
    get_count.append(len(i))
  return get_count

new=get_lengths(words)
print(new)

[5, 6, 6]

In [31]:
#**Problem:** Write a Python function that merges two lists alternately into a single list.

list_11 = [1, 3, 5]
list2 = [2, 4, 6]

def get_merged(list_11,list2):

  merged_list=list_11+list2

  return merged_list

res=get_merged(list_11,list2)
res_1=sorted(res)
print("merged_list:",res_1)

merged_list: [1, 2, 3, 4, 5, 6]

In [38]:
#*Problem:** Write a Python function to find the intersection of two lists (common elements).

list_a = [1, 2, 3, 4]
list_b = [3, 4, 5, 6]

def get_common(lsit_a,list_b):
  get_similar=set(list_a).intersection(set(list_b))
  return get_similar

res_2=get_common(list_a,list_b)
print(list(res_2))

[3, 4]

In [54]:
#**Problem:** Write a Python function that counts the occurrences of each element in a list and returns a dictionary.
def count_occurrences(elements):
    count_dict = {}
    for i in elements:
        if i in count_dict:
            count_dict[i] += 1
        else:
            count_dict[i] = 1
    return count_dict

# Example usage
elements = ['a', 'b', 'a', 'c', 'b', 'a']
result = count_occurrences(elements)
print(result)

{'a': 3, 'b': 2, 'c': 1}

In [2]:
#**Problem:** Write a Python function to flatten a nested list (a list of lists) into a single list.

def get_flatten(nested_list):
    flattened_list = []
    for i in nested_list:
        for item in i:
            flattened_list.append(item)
    return flattened_list

# Example usage
nested_list = [[1, 2], [3, 4], [5, 6]]
result =get_flatten(nested_list)
print(result)

[1, 2, 3, 4, 5, 6]