<a href="https://colab.research.google.com/github/RajeswaryNadarajan/Pyhton-exercises/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#search given number's position  in the provided list

list_1 =[1,2,3,4,5,5,6]
x=int(input("Enter any number from list_1 :"))
list_2 =[]

for i in range(0, len(list_1)):
  if(list_1[i]==5) :
      list_2.append(i)
print(list_2)

Enter any number from list_1 :5
[4, 5]

In [6]:

list_1 =[1,2,3,4,5,5,6]
number=6
list_2 =[]

for i in range(0, len(list_1)):
  if(list_1[i]==5) :
      list_2.append(i)
print(list_2)

[4, 5]

In [18]:
#Write a Python function to find the Max of three numbers.

a=int(input("Enter the 1st number: "))
b=int(input("Enter the 2nd number: "))
c=int(input("Enter the 3rd number: "))

def find_max(a,b,c):
  get_result=max(a,b,c)
  return get_result

x= find_max(a,b,c)
print("The Biggest Number is :", x)

Enter the 1st number: 10
Enter the 2nd number: 25
Enter the 3rd number: 70
The biggest number is : 70

In [23]:
#write a python fucntion to sum all the numbers in the list

list1=[1,2,3,4,5]
def get_sum(a):
  test_sum=0
  for i in a :
    test_sum=test_sum+ i
  return test_sum

res=get_sum(list1)
print("The total of list1 : ",res)

The total of list1 :  15

In [31]:
#write a python fucntion to sum all the numbers in the list

list_1=[]
for i in range(0,5):
  x=int(input("Enter numbers to create list_1 : "))
  list_1.append(x)
print("list_1 :",list_1)

def get_sum(a):
  test_sum=0
  for i in a :
    test_sum=test_sum+ i
  return test_sum

res=get_sum(list_1)
print("The sum of list_1 is : ",res)

Enter numbers to create list_1 : 12
Enter numbers to create list_1 : 12
Enter numbers to create list_1 : 35
Enter numbers to create list_1 : 28
Enter numbers to create list_1 : 10
list_1 : [12, 12, 35, 28, 10]
The sum of list_1 is :  97

In [36]:
#write a python fucntion to multiply all the numbers in the list

list_1=[]
for i in range(0,5):
  x=int(input("Enter numbers to create list_1 : "))
  list_1.append(x)
print("List_1 :",list_1)

def get_product(a):
  test_product= 1
  for i in a :
    test_product=test_product * i

  return test_product

res=get_product(list_1)
print("The sum of product list_1 is : ",res)

Enter numbers to create list_1 : 1
Enter numbers to create list_1 : 2
Enter numbers to create list_1 : 3
Enter numbers to create list_1 : 4
Enter numbers to create list_1 : 5
List_1 : [1, 2, 3, 4, 5]
The sum of product list_1 is :  120

In [43]:
#write a program to reverse a string

x=input("Enter a string : ")

def get_reverse(a):
   result_1=a[::-1]
   return result_1

res=get_reverse(x)
print("reversed order for a given string :" ,res)

Enter a string :  Hello World
reversed order for a given string : dlroW olleH

In [53]:
# write a program that takes and returns a new list with unique elemnts from the first list

list_3= [1,2,2,2,2,3,4,5,6,6,7,10]
list_4=[]

def unique_ele(b):
    get_unique=list(set(list_3))
    list_4.append(get_unique)
    return get_unique

res=unique_ele(list_4)
print("The Unique Elements of list 3 are :",res)

The Unique Elements of list 3 are : [1, 2, 3, 4, 5, 6, 7, 10]

In [54]:

list_3= [1,2,2,2,2,3,4,5,6,6,7,10]


def unique_ele(b):
    get_unique=list(set(list_3))
    return get_unique

res=unique_ele(list_3)
print("The Unique Elements of list 3 are :",res)

The Unique Elements of list 3 are : [1, 2, 3, 4, 5, 6, 7, 10]

In [73]:
#write a program to get even numbers from list

list_4=[1,2,3,4,5,6,7,8,9,10]

def get_even(a):
  for i in range(0,11):
    if (i % 2==0):
      print(i)
get_even(list_4)

0
2
4
6
8
10