<a href="https://colab.research.google.com/github/RajeswaryNadarajan/Pyhton-exercises/blob/main/lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def my_function(a):
  return lambda x: x* a

hello = my_function(2)
print(hello(11))

22

In [7]:
def function (kutty):
   return lambda x: x + kutty

res= function(34)
print(res(20))

54

In [8]:
def my_func(c):
  return lambda a,b:a+b - c

res_1=my_func(8)
print(res_1(10,20))

22

In [11]:
#map

def sum(a):
  return a * a

list_1=[1,2,3,4]
answer=list(map(sum,list_1))
print(answer)

[1, 4, 9, 16]

In [21]:
# calculate the length of given string

def funct(a):
  return len(a)

list_2=["apple","ciku","durian"]
ans=map(funct,list_2)
print(list(ans))
print(ans)

[5, 4, 6]
<map object at 0x7a33d6edc9d0>

In [31]:
# add two list

list_a=[1,2,3]
list_b=[4,5,6]

ans_c=map(lambda x,y:x+y ,list_a,list_b)
print(list(ans_c))

[5, 7, 9]

In [36]:
list_1=[10,20,30,40,1,2,3]

def getvalue(n):
  if n>5:
    return True
  else:
    return False

ans_1=list(map(getvalue,list_1))
print(ans_1)

[True, True, True, True, False, False, False]

In [37]:
#filter
list_1=[10,20,30,40,1,2,3]

def getvalue(n):
  if n>5:
    return True
  else:
    return False

ans_1=list(filter(getvalue,list_1))
print(ans_1)

[10, 20, 30, 40]

In [52]:
ages= [12,16,19,35,54,60,14]

def get_age(a):
  if a> 18:
    return True
  else :
    return  False

ans_2=list(filter(get_age,ages))
print("Ages that greater than 18  from given list are: ",ans_2)

Ages that greater than 18  from given list are:  [19, 35, 54, 60]

In [58]:
#Write a Python program to map a list of numbers to their squares using map().

list_1=[2,3,4,5]

def square(a):
  return a**2
ans=tuple(map(square,list_1))
print(ans)

(4, 9, 16, 25)

In [63]:
#Write a Python program to filter a list of names and return only the names with a length greater than 5 characters.
name=["Ramu","Geetha","Suhaila"]
ans_name= tuple(filter(lambda name:len(name)> 5 , name))
print(ans_name)

('Geetha', 'Suhaila')

In [51]:
#Write a Python program to filter a list of numbers and return only the even numbers.

list_4= [2,4,5,6,7,8,9,10,12]

x=lambda a: a%2==0
ans_4= list(filter(x,list_4))
print(ans_4)

[2, 4, 6, 8, 10, 12]

In [65]:
#Filter Prime Numbers:
#Write a Python program to filter a list of numbers and return only the prime

numbers=[1,3,4,5,67,7,8]

prime_num=tuple(filter(lambda a: a%2 != 0,numbers))
print(prime_num)

(1, 3, 5, 67, 7)

In [67]:
strings = ["apple", "banana", "orange", "kiwi", "pineapple"]


string_lengths = tuple(map(len, strings))

print("Original Strings:", strings)
print("Lengths of Strings:", string_lengths)

Original Strings: ['apple', 'banana', 'orange', 'kiwi', 'pineapple']
Lengths of Strings: (5, 6, 6, 4, 9)

In [73]:
#Write a Python program to map a list of names to their first letters.

name=["Rajes","Kutty","Boboy"]

str_len=tuple(map(lambda name : name[0] ,name))
print("Given Name are :",name)
print("The first letters of given names are :",str_len)

Given Name are : ['Rajes', 'Kutty', 'Boboy']
The first letters of given names are : ('R', 'K', 'B')

In [75]:
#Filter Positive Numbers:
#Write a Python program to filter a list of numbers and return only the positive numbers.

list_positive=[2,3,4,-1,-54]

positive=tuple(filter(lambda a: a > 0,list_positive))
print(positive)

(2, 3, 4)

In [80]:
#lambda
#Square a Number:
#Write a lambda function that takes a number as input and returns its square.

num= int(input("Enter a number : "))

x=lambda num: num**2
res=x(num)
print ("The square of entered number is :",res)

Enter a number : 2
The square of entered number is : 4

In [84]:
#Write a lambda function that takes two numbers as input and returns their sum.

num_1=int(input("Enter the first number : "))
num_2=int(input("Enter the second  number : "))

y=lambda x,z: x+z
res=y(num_1,num_2)
print("The sum of num_1 & num_2 is :",res)

Enter the first number : 23
Enter the second  number : 12
The sum of num_1 & num_2 is : 35

In [85]:
#Write a lambda function that takes two numbers as input and returns their product.

num_1=int(input("Enter the first number : "))
num_2=int(input("Enter the second  number : "))

y=lambda x,z: x*z
res=y(num_1,num_2)
print("The product of num_1 & num_2 is :",res)

Enter the first number : 2
Enter the second  number : 3
The product of num_1 & num_2 is : 6

In [88]:
#Write a lambda function that takes a number as input and returns True if it's even, False


is_even= lambda a: a %2==0

print(is_even(2))
print(is_even(5))

True
False

In [91]:
#Write a lambda function that takes a string as input and returns its reverse.

str=input("Enetr a word :")
is_reverse=lambda a: a[::-1]

reverse=is_reverse(str)
print("The reverse version of given string is :", reverse)

Enetr a word :Hello World
The reverse version of given string is : dlroW olleH

In [92]:
#Write a lambda function that takes a year as input and returns True if it's a leap year, False otherwise.

leap_year = lambda year: (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
print(leap_year (2024))
print(leap_year (2015))

True
False