<a href="https://colab.research.google.com/github/RajeswaryNadarajan/Pyhton-exercises/blob/main/List_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#write a python code to print all the negative elements in a list

list1= [56,-98,12,-38,76,51,23,34]
for i in list1 :
  if(i<0):
    print(i)

-98
-38

In [10]:
 #write a python code to find sum of all list elements


list1= [56,-98,12,-38,76,51,23,34]
test_sum = 0

for i in range (0,8):
  test_sum = test_sum + list1[i]
print  (test_sum)

116

In [15]:
#write a python code to find sum of all list elements

list1= [56,-98,12,-38,76,51,23,34]
test_sum = 0
for i in list1:
  test_sum = test_sum + i
print(test_sum)

116

In [21]:
# write a python script to find maximum and minimum  element in a list

print(max(list1))
print(min(list1))

76
-98

In [23]:
#write a code to find second largest element in list1

list1= [56,-98,12,-38,76,51,23,34]
list1.sort(reverse = True)
second_largest_value=list11
print(second_largest_value)

56

In [28]:
#write a code to find second largest element in list1

list1= [56,-98,12,-38,76,51,23,34]

list1.sort(reverse = True)
get_second_largest_value =list1[2]
print(second_largest_value)

56

In [35]:
#write a code to count total number of even and odd element in a list

list1= [56,-98,12,-38,76,51,23,34]
for i in list1:
   if( i % 2== 0):
     print("It's even :",i)
   else:
      print("It's odd :", i)

It's even : 56
It's even : -98
It's even : 12
It's even : -38
It's even : 76
It's odd : 51
It's odd : 23
It's even : 34

In [39]:
#write a code to count total number of even and odd element in a list
test_event =0
test_odd= 0
list1= [56,-98,12,-38,76,51,23,34]

for i in list1:
    if(i%2==0):
      test_even= test_even + 1
    else:
      test_odd = test_odd + 1

print ("Even numbers :",test_even)
print ("odd numbers :",test_odd)

Even numbers : 132
odd numbers : 2

In [42]:
#write a code to count total number of negative in a list

negative_count= 0
list1= [56,-98,12,-38,76,51,23,34]

for i in list1:
    if(i<0):
        negative_count = negative_count+ 1
print(negative_count)

2

In [52]:
#write a code to copy all elements from a list to another list

list_1=[56,-98,12,-38,76,51,23,34]
list_2 = list_1.copy()
print("list_1 : ",list_1)
print("list_2 : ",list_2)

list_1 :  [56, -98, 12, -38, 76, 51, 23, 34]
list_2 :  [56, -98, 12, -38, 76, 51, 23, 34]

In [55]:
#write a code to remove duplicate from list1

list_3=[10,20,40,10,10,10,10,50]
list_4=[]
for i  in list_3 :
    if i not in list_4:
        list_4.append(i)
print(list_4)

[10, 20, 40, 50]

In [58]:
#write a code to remove duplicate from list_3

list_3 = [10,10,10,20,40,20,60,80]
list_4 =[]
for i in list_3:
  if i not in list_4:
    list_4.append(i)
print(list_4)

[10, 20, 40, 60, 80]

In [63]:
#write a program to find the list of words that are longer than n from a given list of words

n=4
str="Find the List of Words that are Longer than n from a given List of Words"
new_list = []
text = str.split(" ")
for x in text:
	if len(x) > n:
		new_list.append(x)
print(new_list)

['Words', 'Longer', 'given', 'Words']

In [66]:
n=int(input("Enter the value : "))

str = " My mom is on sick and she was admitted at goverment hospital "
list_5=[]
text= str.split(" ")
for i in text :
  if len(i) > n:
    list_5.append(i)
print(list_5)

Enter the value : 3
['sick', 'admitted', 'goverment', 'hospital']

In [79]:
#write a program to get the frequency of elements i a list

random_list = ['A', 'A', 'B', 'C', 'B', 'D', 'D', 'A', 'B']
frequency = {}

# iterating over the list
for item in random_list:
   # checking the element in dictionary
   if item in frequency:
      # incrementing the counr
      frequency[item] += 1
   else:
      # initializing the count
      frequency[item] = 1

# printing the frequency
print(frequency)

{'A': 3, 'B': 3, 'C': 1, 'D': 2}

In [82]:
random_list = ['A', 'A', 'B', 'C', 'B', 'D', 'D', 'A', 'B']
frequency = {}
for item in random_list:
  if item in frequency:
      frequency[item] += 1
  else:
    frequency[item] = 1
print(frequency)

{'A': 3, 'B': 3, 'C': 1, 'D': 2}

In [87]:
#write a program to find common items from two lists
common_items = 0
list_c =[1,2,3,4,5,6]
list_d =[1,2,3,7,8,0]

print(set(list_c) & set(list_d))

{1, 2, 3}