<a href="https://colab.research.google.com/github/RajeswaryNadarajan/Pyhton-exercises/blob/main/lists_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#number of count in list
#sum of given  list

sum=0
sum_1 = 0
list=[1,2,3,4,5,6]

for i in list :
  sum=sum+i
  sum_1=sum_1+1
print("Total sum in list_1 :",sum)
print("Total count in list_1 :",sum_1)

Total sum in list_1 : 21
Total count in list_1 : 6

In [7]:
# append new numbers in list

list_2 =[]
list_2.append(2)
list_2.append(3)
list_2.append(4)
list_2.append(5)
list_2.append(6)
print("List_2 :",list_2)
print("Total countof list_2 : ",len(list_2))

List_2 : [2, 3, 4, 5, 6]
Total countof list_2 :  5

In [22]:
# index value & update new value at list

list_3= ["chemistry",2001,"Ramu", 1989]
print(list_3[2])
list_3[2]="Geetha"
print(list_3)

list_3.append(2024)
print(list_3)
list_3.insert(2,100)
print(list_3)
list_3.remove(2001)

print(list_3)

Ramu
['chemistry', 2001, 'Geetha', 1989]
['chemistry', 2001, 'Geetha', 1989, 2024]
['chemistry', 2001, 100, 'Geetha', 1989, 2024]
['chemistry', 100, 'Geetha', 1989, 2024]

In [23]:
#list all the negative elements in the list
list_a= [56,-98,12,-30,76,51,23,34]

for i in  list_a:
  if i < 0:
    print("The negative numbers in list_a :",i)

The negative numbers in list_a : -98
The negative numbers in list_a : -30

In [28]:
# Write a Python Code to find sum of all List elements.


list_a= [56,-98,12,-30,76,51,23,34]
sum=0
for i in list_a:
  sum=sum+i
print("Sum of all list_3 elements is :", sum)

Sum of all list_3 elements is : 124

In [31]:
#Write a Python Code to find maximum and minimum element in an List.

print(" The biggest element list list_a is :",max(list_a))
print(" The smallest element list list_a is :",min(list_a))

 The biggest element list list_a is : 76
 The smallest element list list_a is : -98

In [43]:
#Write a Python Code to find second largest element in an List.
print("Total elements of length a:", len(list_a))
list_a.sort()
print("List_a in ascending order:",list_a)
print("The second largest element is list_a :", list_a[6])

Total elements of length a: 8
List_a in ascending order: [-98, -30, 12, 23, 34, 51, 56, 76]
The second largest element is list_a : 56

In [52]:
 #Write a Python Code to count total number of even and odd elements inan List.

count_even =0
count_odd = 0
list_a= [56,-98,12,-30,76,51,23,34]

for i in list_a:
  if i % 2==0:
    count_even=count_even + 1
  else:
     count_odd=count_odd + 1

print("List_2: ",list_2)
print("The total count of even numbers in list :",count_even)
print("The total count of odd numbers in list :",count_odd)

List_2:  [2, 3, 4, 5, 6]
The total count of even numbers in list : 6
The total count of odd numbers in list : 2

In [55]:
 #Write a Python Code to count total number of negative elements in an List.

count_negative = 0
list_2=[56,-98,12,-30,76,51,23,34]

for i  in list_2:
  if i<0:
    count_negative = count_negative + 1
print(" The total negative elements in list_a:",count_negative)

 The total negative elements in list_a: 2

In [62]:
 #Write a Python Code to copy all elements from an List to another List

list_b=list_a.copy()
print("List_b:", list_b)

List_b: [56, -98, 12, -30, 76, 51, 23, 34]

In [66]:
#Write a Python program to remove duplicates from a list.
list_c=[2,3,3,3,4,55,55,67,88,88]
x=(set(list_c))
print(x)

{2, 67, 3, 4, 55, 88}

In [1]:
#Write a Python program to remove duplicates from a list.

list_f=[]
list_g=[10,10,10,20,40,50,80,80]

for i in list_g:
  if i not in list_f:
    list_f.append(i)
print(list_f)

[10, 20, 40, 50, 80]

In [23]:
#Write a Python program to find the list of words that are longer than n from a given list of words

def long_words(n,str):
  word=[]
  text=str.split(" ")
  for i in text:
    if len(i)>n:
      word.append(i)
  return word


print(long_words(2,input("Enter your sentence: ")))

Enter your sentence: hi Rajes here a data ENginner
['Rajes', 'here', 'data', 'ENginner']

In [27]:
#Write a Python program to find the list of words that are longer than n from a given list of words

def long_word(n,str):
  text=[]
  words=str.split(" ")
  for i in words:
    if len(i)>n:
      text.append(words)
  return  words

print(long_words(3,input(" Enter your sentence: ")))

 Enter your sentence: Hi Kutty here he is my world
['Kutty', 'here', 'world']

In [35]:
# Write a Python program to get the frequency of the elements in a list.

import collections

my_list="My name is Rajes"
ctr = collections.Counter(my_list)
print(ctr)

Counter({' ': 3, 'a': 2, 'e': 2, 's': 2, 'M': 1, 'y': 1, 'n': 1, 'm': 1, 'i': 1, 'R': 1, 'j': 1})

In [36]:
import collections

my_list=[20,20,10,35,87]
ctr = collections.Counter(my_list)
print(ctr)

Counter({20: 2, 10: 1, 35: 1, 87: 1})

In [41]:
#Write a Python program to find common items from two lists

list_s=[2,3,4,5,6]
list_r=[2,3,4,5,8,9]
print("The common element in both list are:",set(list_s) & set(list_r) )

The common element in both list are: {2, 3, 4, 5}