<a href="https://colab.research.google.com/github/RajeswaryNadarajan/Pyhton-exercises/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#if you have an empty list, you want to add data

list3=[]
print(len(list3))
list3.append(10)
list3.append(20)
list3.append(30)
list3.append(40)
print(list3)

0
[10, 20, 30, 40]

In [11]:
#remove number from  list
result1=list3.remove(30)
print(list3)

[10, 40]

In [12]:
print(list3)

[10, 40]

In [16]:
list2=[34,40,50]
print(list2)
list2.append(60)
print(list2)

[34, 40, 50]
[34, 40, 50, 60]

In [17]:
list2.remove(34)
print(list2)

[40, 50, 60]

In [20]:
list4=[10,20,30,40,50,60,70]
for i in range (0,7):
  print(list4[i])

10
20
30
40
50
60
70

In [26]:
list4=[10,20,30,40,50,60,70]
for i in range (0,7):
  print(list4[-i])

10
70
60
50
40
30
20

In [35]:
list5=[1,2,3,4,5,6]
test_sum = 0
for i in range(0,6):
  test_sum =  test_sum + list5[i]
print(test_sum)

21

In [37]:
list_a =[1,2,3,4,5,6,7]
test_sum = 0
for i in range (0,7):
    test_sum = test_sum + list_a[i]
print(test_sum)

28

In [5]:
list_b=["Science","Maths",3,8]
print("Value available in at index 3 is number :",list_b[3])

Value available in at index 3 is number : 8

In [6]:
list_b[1]= "English"
print(list_b)

['Science', 'English', 3, 8]

In [7]:
#delete index number
list_c=["hello","hi",78,56]
del list_c[1]
print(list_c)

['hello', 78, 56]

In [9]:
list_12=[1,2,3,3,4,5,6]
test_sum = 0
for i in range(0,7):
   test_sum= test_sum + list_12[i]
print(test_sum)

24

In [13]:
#print maximum & minimum number in the list
print(max(list_12))
print(min(list_12))

6
1

In [18]:
list_12.reverse()
print(list_12)

[1, 2, 3, 3, 4, 5, 6]

In [19]:
hello= [1,2,3,4,5,6,7,8,9,10]
hello.reverse()
print(hello)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
#sort(), ascending_order

Hi=[6,2,4,90,16]
Hi.sort()
print(Hi)

[2, 4, 6, 16, 90]

In [22]:
# decsending_order
Hi.sort(reverse=True)
print(Hi)

[90, 16, 6, 4, 2]

In [24]:
#insert value

list_12.insert(2,14)
print(list_12)

[1, 2, 14, 3, 3, 4, 5, 6]