<a href="https://colab.research.google.com/github/RajeswaryNadarajan/Pyhton-exercises/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s_username="EMC"
s_password=123

user_name=input("enter unsername: ")
password=int(input( "enter password: "))

def validate(user_name,password):
    if user_name==s_username and password==s_password:
        return True
    else:
        return False

a=validate(user_name,password)
print(a)

enter unsername: EMC
enter password: 123
True

In [25]:

class Human:
  Name=None
  Age=None
  gender=None
  height=None
  weight=None

  def sleep(self):
    print(self.Name,"is sleeping")
  def eat(self):
    print(self.Name,"is eating")
  def walk(self):
    print(self.Name,"is not walking")
person=Human()
person1=Human()
person.Name="Rajesh"
person.Age=35
person.gender="Female"
person.height=5.8
person.weight=65


person1.Age=10
person1.gender="MAle"
person1.height=3.8
person1.weight=70

print("Name:",person.Name)
print("Age:",person.Age)
print("Gender:",person.gender)
print("Height:",person.height)
print("Weight:",person.weight)

person.sleep()
person1.eat()
person1.walk()
person.walk()

print("Name:",person1.Name)
print("Age:",person1.Age)
print("Gender:",person1.gender)
print("Height:",person1.height)
print("Weight:",person1.weight)

Name: Rajesh
Age: 35
Gender: Female
Height: 5.8
Weight: 65
Rajesh is sleeping
None is eating
None is not walking
Rajesh is not walking
Name: None
Age: 10
Gender: MAle
Height: 3.8
Weight: 70

In [26]:
class student:
  name=None

  English=None
  Maths=None
  Science=None
  History=None
  Geography=None

  def total_score(self):
    total_sum=self.English+self.Maths+self.Science+self.History+self.Geography
    return total_sum

marks=student()
marks.name="Rajes"
marks.English=74
marks.Maths=86
marks.Science=87
marks.History=90
marks.Geography=97

print("Student_Name :",marks.name)
print("Total Score:",marks.total_score())
x=max(marks.English,marks.Maths,marks.Science,marks.History,marks.Geography)
print("The highest score:",x)
y=min(marks.English,marks.Maths,marks.Science,marks.History,marks.Geography)
print("The lowest score:",y)

Student_Name : Rajes
Total Score: 434
The highest score: 97
The lowest score: 74

In [40]:
class Person():
  def __init__(self,name,age):
    self.Name=name
    self.Age=age

person1=Person("Rajesh",35)
print(person1.Name)
print(person1.Age)

Rajesh
35

In [48]:
class Test():
  def __init__(self,name,age,location):
    self.Name=name
    self.Age=age
    self.Location=location

person= Test("Rajesh",35,"Skudai")
person2= Test("Meera",24,"JB")

print("Name:",person.Name,"Age:",person.Age,"Location:",person.Location)
print("Name:",person2.Name,"Age:",person2.Age,"Location:",person2.Location)

Name: Rajesh Age: 35 Location: Skudai
Name: Meera Age: 24 Location: JB

In [54]:
class Test_2:
  def __init__(self,name,phn,gender):
    self.Name=name
    self.No=phn
    self.Gender=gender


data=Test_2("Geetha",123,"Female")
print("Name:",data.Name,"& ","Phone:",data.No,"&","Gender:",data.Gender)

Name: Geetha &  Phone: 123 & Gender: Female

In [66]:
class daily_routine:
  def __init__(self,name,age,time):
    self.Name=name
    self.Age=age
    self.Sleeping_Time=time

test=daily_routine("Kutty",10,9)
print(test.Sleeping_Time)

9

In [10]:
class Aeroplane:
  def __init__(self,a,b):
    self.Name=a
    self.Time=b
  def name(self,tic):
    print("The flight Name :",self.Name,"and the ticket number is",tic)
  def time(self):
       print("The flight Time:",self.Time)


obj_1=Aeroplane("Jet","12:00")
print(obj_1.Name,obj_1.Time)
obj_1.time()
obj_1.name("Q123")

Jet 12:00
The flight Time: 12:00
The flight Name : Jet and the ticket number is Q123

In [12]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} is barking")

    def __str__(self):
        return f"Dog(name={self.name}, age={self.age})"

# Creating an instance of the Dog class
my_dog = Dog("Kutty", 10)
print(my_dog)

# Calling the bark method
my_dog.bark()

Dog(name=Kutty, age=10)
Kutty is barking

In [33]:
class Animal:
  def __init__(self,walk,drink):
    self.walk=walk
    self.drink=drink

  def show_walk(self):
    print(f"able to walk")

  def show_drink(self):
    print(f"able to drink")

my_animal=Animal("walk","Drink")
my_animal.show_walk()
my_animal.show_drink()


class Doggy(Animal):
  def __init__(self,name , age):
    self.name=name
    self.age=age

  def bark(self):
    print(f"{self.name} says WOOF!!!")

  def show_age(self):
    print(f"he is {self.age} years old")

my_dog=Doggy("Kutty",10)
print(my_dog)
my_dog.bark()
my_dog.show_age()
my_dog.show_walk()
my_dog.show_drink()

able to walk
able to drink
<__main__.Doggy object at 0x79f314ad9db0>
Kutty says WOOF!!!
he is 10 years old
able to walk
able to drink