<a href="https://colab.research.google.com/github/RajeswaryNadarajan/Pyhton-exercises/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Write a Python program to reverse a tuple ?
my_tuple=(1,2,3,4,6)
my_tuple[::-1]

(6, 4, 3, 2, 1)

In [10]:
#Write a Python program to print a tuple with string formatting.
str1=" "
my_tuple1=(100,200,300)
for i in my_tuple1:
  str1=str1+str(i)
print(str1)

 100200300

In [9]:
#Write a Python program to replace last value of tuples in a list.
l= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
#Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

print([i[:-1] + (100,) for i in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [16]:
# Write a Python program calculate the product, multiplying all the
#numbers of a given tuple.
#Original Tuple:

#Product - multiplying all the numbers of the said tuple: -864
#Original Tuple:

#Product - multiplying all the numbers of the said tuple: 27648
multiply = 1
multiply_1 = 1
tuple_1= (4, 3, 2, 2, -1, 18)
for i in tuple_1:
  multiply=multiply * i
print(multiply )

tuple_2 = (2, 4, 8, 8, 3, 2, 9)
for i in tuple_2:
  multiply_1=multiply_1 * i
print(multiply_1 )

-864
27648

In [23]:
#Write a Python program to convert a given tuple of positive integers into an integer.
#Original tuple:
#(1, 2, 3)
#Convert the said tuple of positive integers into an integer:
#123
#Original tuple:
#(10, 20, 40, 5, 70)
#Convert the said tuple of positive integers into an integer:
#102040570

str_1=" "
str_2=" "
tup1=(1, 2, 3)
for i in tup1:
  str_1=str_1 + str(i)
get_int=int(str_1)
print(get_int)
print(type(get_int))

tup_2=(10, 20, 40, 5, 70)
for i in tup_2:
  str_2=str_2 + str(i)
get_int=int(str_2)
print(get_int)
print(type(get_int))

123
<class 'int'>
102040570
<class 'int'>

In [27]:
 #Write a Python program to compute element-wise sum of given tuples.
Original_lists=((1, 2, 3, 4),
(3, 5, 2, 1),
(2, 2, 3, 1) )


x=(1, 2, 3, 4)
y=(3, 5, 2, 1)
z=(2, 2, 3, 1)

#result=(map(sum(zip(x,y,z))))
result = tuple(map(sum, zip(x, y, z)))
print(result)

(6, 9, 8, 6)